= link_to glyph_text(:angle_left, "All my tools"), tools_path

= simple_form_for @tool do |f|
  = f.error_notification

  %div.form-inputs
    %fieldset
      %legend About the tool
      %div.row
        %span.span2
          %p Please describe the instrument you'd like to share.
        %span.span10
          %div.row
            %span.span8
              = f.input :tool_category_name, required: true, wrapper: :append do
                = f.input_field :tool_category_name, autocomplete: "off", data: { provide: :typeahead, lookup: typeahead_path(:tool_category) }
                %button.btn
                  %i.icon-angle-down

          %div.row
            %span.span3
              = f.input :manufacturer_name, required: true, wrapper: :append do
                = f.input_field :manufacturer_name, autocomplete: "off", data: { provide: :typeahead, lookup: typeahead_path(:manufacturer) }
                %button.btn
                  %i.icon-angle-down

            %span.span3
              = f.input :model_name, required: true, input_html: { autocomplete: "off", data: { provide: :typeahead, lookup: typeahead_path(:model) } }

            %span.span2
              = f.input :year_manufactured, as: :select, collection: @tool.possible_years, prompt: "Unknown"

          %div.row
            %span.span8
              = f.input :description

      %div.row
        %span.span2
          %p If possible, please indicate the sample size and resolution of the tool.

        %span.span10

          %div.row
            %span.span5= f.input :resolution, input_html: { min: 0, type: "number", step: "any" }
            %span.span3= f.input :resolution_unit_id, as: :select, collection: AvailableUnit.all, value_method: :name, label_method: :display_name

          %div.row
            %span.span5
              %div.control-group.optional.tool_sample_size
                %label.optional.control-label{for: "tool_sample_size"} Sample size

                %div.controls
                  = f.hidden_field :sample_size_min
                  = f.hidden_field :sample_size_max
                  %div.slider-input{ data: { min: min_possible_sample_size, max: max_possible_sample_size } }
                  %p.help-block= sample_size_text(@tool)

            %span.span3
              = f.input :sample_size_unit_id, as: :select, collection: AvailableUnit.all, value_method: :name, label_method: :display_name, wrapper_html: { class: "tool_sample_size_unit" }


    %fieldset
      %legend Pricing

      %div.row
        %span.span2
          %p The pricing structure for your tool. If you need help determining what the right values should be, please get in touch.
        %span.span8
          %div.row
            %span.span3
              = f.input :base_lead_time, input_html: { min: 1 }
            %span.span4
              = f.input :base_price, wrapper: "prepend" do
                = content_tag :span, "$", class: "add-on"
                = f.input_field :base_price, min: 0, type: "number", step: "any"
          %div.row
            %span.span8
              = f.input :can_expedite, label: false, inline_label: raw("Offer expedited pricing? " + content_tag(:span, "Recommended", class: "label label-info"))
          %div.row
            %span.span3
              = f.input :expedited_lead_time, input_html: { min: 1, disabled: true }
            %span.span4
              = f.input :expedited_price, wrapper: "prepend" do
                = content_tag :span, "$", class: "add-on"
                = f.input_field :expedited_price, min: 0, type: "number", step: "any", disabled: true


    %fieldset
      %legend
        %a.tip{href: "#", title: t('data.private'), data: { toggle: "tooltip" }}
          %i.icon-lock.icon-large
        Only visible to lessors
      %div.row
        %span.span2
          %p We keep this information hidden from users until they've confirmed a reservation with you.
        %span.span8
          %div.row
            %span.span5= f.input :serial_number
          = f.simple_fields_for :address do |a|
            = render partial: 'addresses/form', object: a

    - unless @tool.new_record?
      %fieldset
        %legend
          %i.icon-picture.icon-large
          Images
        %div.row
          %span.span2
            %p Add a picture or two.
          %span.span8
            = link_to "Edit Images", tool_images_path(@tool), class: "btn btn-info"
            %ul.unstyled{style: "margin-top: 10px"}
              - @tool.images.each do |image|
                %li.pull-left
                  = link_to tool_images_path(@tool), style: "padding: 0 10px 10px 0" do
                    = image_tag image.image.url(:thumb)

  %div.row
    %span.offset2.span8
      = f.button :submit, class: "btn btn-primary"
      = link_to "Cancel", profile_path, class: "btn btn-default"
