= render layout: 'shared/navbar' do
  = link_to tools_path do
    %i.icon.icon-chevron-left
    All my tools
  = simple_form_for @tool do |f|
    = f.error_notification

    %div.form-inputs
      %fieldset
        %legend About the tool
        %div.row
          %span.span2
            %p Please describe the instrument you'd like to share.
          %span.span10
            %div.row
              %span.span8
                = f.input :tool_category_name, label: "Category", required: true, wrapper: :append do
                  = f.input_field :tool_category_name, autocomplete: "off", data: { provide: :typeahead, lookup: typeahead_path(:tool_category) }
                  %button.btn
                    %i.icon-chevron-down

            %div.row
              %span.span3
                = f.input :manufacturer_name, label: "Manufacturer", required: true, wrapper: :append do
                  = f.input_field :manufacturer_name, autocomplete: "off", data: { provide: :typeahead, lookup: typeahead_path(:manufacturer) }
                  %button.btn
                    %i.icon-chevron-down
                  %p.help-block
                    Select an existing manufacturer or simply type in a new name.

              %span.span3
                = f.input :model_name, label: "Model", required: true, input_html: { autocomplete: "off", data: { provide: :typeahead, lookup: typeahead_path(:model) } }

            %div.row
              %span.span2= f.input :year_manufactured, hint: "Approximate", as: :select, collection: @tool.possible_years, prompt: "Unknown"
              %span.span5= f.input :resolution, hint: "The smallest amount of change that the instrument can detect or manipulate reliably."

            %div.control-group.optional.tool_sample_size
              %label.optional.control-label{for: "tool_sample_size"} Sample size

              %div.controls
                = f.hidden_field :sample_size_min
                = f.hidden_field :sample_size_max
                %div.slider-input{ data: { min: min_possible_sample_size, max: max_possible_sample_size } }
                %p.help-block= sample_size_text(@tool)

            %div.row
              %span.span4
                = f.input :price_per_hour, wrapper: "prepend" do
                  = content_tag :span, "$", class: "add-on"
                  = f.input_field :price_per_hour, min: 0, type: "number"
                  %p.help-block
                    Per day:
                    %span.price_per_day

                = f.input :technician_required, as: :boolean, label: false, inline_label: "Technician required"

            %div.row
              %span.span8
                = f.input :description, hint: "Please list any additional distinguishing characteristics of the tool, e.g. customizations."

      %fieldset
        %legend
          %i.icon-lock.icon-large
          Only visible to lessors
        %div.row
          %span.span2
            %p We keep this information hidden from users until they've confirmed a reservation with you.
          %span.span8
            %div.row
              %span.span5= f.input :serial_number
            = f.simple_fields_for :address do |a|
              = a.hidden_field :id
              %div.row
                %span.span6= a.input :address_line_1
              %div.row
                %span.span6= a.input :address_line_2
              %div.row
                %span.span4= a.input :city
                %span.span1= a.input :state
                %span.span2= a.input :zip_code

      - unless @tool.new_record?
        %fieldset
          %legend
            %i.icon-picture.icon-large
            Images
          %div.row
            %span.span2
              %p Add a picture or two.
              = link_to "Edit Images", tool_images_path(@tool), class: "btn btn-info"
            %span.span8
              %ul.unstyled
                - @tool.images.each do |image|
                  %li.pull-left
                    = link_to tool_images_path(@tool), style: "padding: 0 10px 10px 0" do
                      = image_tag image.image.url(:thumb)

    %div.row
      %span.offset2.span8
        = f.button :submit, class: "btn btn-primary"
        = link_to "Cancel", profile_path, class: "btn btn-default"
