= page_header "Tools", crumbs: [:root, Tool], icon: "cogs"

%div.row
  %div.span2.sidebar
    = link_to glyph_text(:plus, "Add tool"), new_tool_path, class: "btn btn-info"
  %div.span10
    - if @tools.any?
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th Facility
            %th Tool description
            %th Price
            %th Current Renter
            %th Status
            %th
        %tbody
          - @tools.group_by(&:facility).each do |facility, tools|
            - tools.each.with_index do |t, index|
              %tr
                - if index == 0
                  %td{rowspan: tools.length}
                    - if facility
                      = link_to(facility.name, edit_facility_path(facility.id))
                    - else
                      = link_to("Set facility", edit_tool_path(t))
                %td= link_to t.display_name, tool_path(t)
                %td= t.tool_prices.map {|tp| format_tool_price(tp) }.join("<br/>").html_safe
                %td= t.current_renter.try(:display_name)
                %td= t.online ? "Live" : "Offline"
                %td
                  = simple_form_for t, method: :delete, html: { class: "no-margin" } do |f|
                    .form-actions
                      = link_to "Edit", edit_tool_path(t), class: "btn btn-mini btn-info"
                      = f.submit "Delete", class: "btn btn-mini btn-danger", data: { toggle: "confirm", title: "Delete Tool" }
    - else
      %p
        You haven't added any tools yet.
        %a{href: new_tool_path}
          Add a tool
          %i.icon-double-angle-right
