= render layout: 'shared/navbar' do
  %div.row.row-header
    %span.span2.header-avatar
      %i.avatar.icon-beaker
    %span.span10.header-body
      %h1 Tools
      %span.muted
        = link_to new_tool_path do
          Add a tool
          %i.icon.icon-angle-right

  %div.row
    %span.span2
    %span.span8
      - if @tools.any?
        %table.table
          %thead
            %tr
              %th Item description
              %th Cost
              %th Options
          %tbody
            - @tools.each do |t|
              %tr
                %td= link_to t.display_name, tool_path(t)
                %td
                  = price_per_sample t, :base
                  - if t.can_expedite?
                    %br
                    = price_per_sample t, :expedited
                %td
                  = simple_form_for(t, method: :delete) do |f|
                    .form-actions
                      = link_to "Edit", edit_tool_path(t), class: "btn btn-mini btn-info"
                      = f.submit "Delete", class: "btn btn-mini btn-danger"
