- if @tool.owned_by?(current_user)
  - nav_category "My Tools"
- else
  - nav_category "Find a Tool"

= page_header @tool.display_name,
  icon: "cogs",
  crumbs: @tool.owned_by?(current_user) ? [:root, Tool, @tool] : [:root, :search, @tool],
  subtitle: @tool.tool_category_name

- content_for :head do
  :javascript
    $(function() {
      var form = $("form.new_booking")[0];

      if (form) {
        window.booking = new Booking(#{@booking.to_json});
        ko.applyBindings({ booking: booking }, form);
      }
    });

%div.row
  %div.span2.sidebar.profile-sidebar
    %div.row.row-header
      %div.span2.header-avatar
        %h4{style: "text-align: center"} Owner
        = avatar_of @tool.owner

    - if can?(:edit, @tool)
      = link_to glyph_text(:edit, "Edit tool"), edit_tool_path(@tool), class: "btn"
    - if can?(:book, @tool)
      = link_to glyph_text(:envelope, "Questions?"), new_message_path(tool_id: @tool), class: "btn btn-success"

  %div.span8
    - if can?(:book, @tool)
      %div.well.well-small.well-inverted{style: "padding-bottom: 0;"}
        %p.upcase{style: "font-size: 12px"} Reserve Now
        %form.new_booking.no-margin.form-inline{action: new_booking_path, method: :get, class: "form-inline", data: { bind: "with: booking" }}
          %input{type: "hidden", name: "tool_id", value: @tool.id}
          %input{type: "hidden", name: "subtype", data: { bind: "value: tool_price_subtype" }}
          %div.row
            %div.span4
              %div.control-group
                %div.input
                  %select{data: { bind: "value: booking.tool_price, options: booking.tool.toolPriceCollection.toolPrices, optionsText: 'label'" } }}
            %div.span2{style: "line-height: 32px"}
              %span{data: { bind: "text: money(tool_price_visible)" }}
              \/
              %span
                %span{data: { bind: "text: tool_price_days" }}
                days
            %div.span1
              %input.btn.btn-primary.btn-success{type: "submit", value: "Reserve Now"}


    %h3 Overview
    %table.table
      %tbody
        - if @tool.owned_by?(current_user)
          %tr
            %th Status
            %td
              = @tool.status
        %tr
          %th Category
          %td
            = link_to search_path(q: @tool.tool_category_name) do
              = @tool.tool_category_name
        %tr
          %th Manufacturer
          %td
            = link_to search_path(q: @tool.manufacturer_name) do
              = @tool.manufacturer_name
        %tr
          %th Model
          %td
            = link_to search_path(q: @tool.model_name) do
              = @tool.model_name

        %tr
          %th Physical access
          %td= tool_access_description(@tool)

        - if @tool.year_manufactured.present?
          %tr
            %th Year manufactured
            %td= @tool.year_manufactured

        - if @tool.resolution_with_unit.present?
          %tr
            %th Resolution
            %td= @tool.resolution_with_unit

        %tr
          %th
            Price per run
            %small on a per-#{@tool.price_type} basis
          %td
            %ul.unstyled
              - @tool.tool_prices.each do |price|
                %li{style: "margin-bottom: 0.5em"}
                  %strong= t "tool_prices.subtype.#{price.subtype}"
                  - if price.requires_setup?
                    %div
                      %span{style: "color: #A34E4E"}= number_to_currency(price.setup_amount, unit: currency_for(@tool))
                      %span.muted required one-time setup fee
                  %div
                    %span{style: "color: #A34E4E"}= number_to_currency(price.base_amount, unit: currency_for(@tool))
                    %span.muted
                      to reserve later than
                      = pluralize(price.lead_time_days, "day")
                      from today

                  - if price.can_expedite?
                    %div
                      %span{style: "color: #A34E4E"}= number_to_currency(price.expedite_amount, unit: currency_for(@tool))
                      %span.muted
                        to reserve between
                        = pluralize(price.expedite_time_days, "day")
                        and
                        = pluralize(price.lead_time_days, "day")
                        from today
        %tr
          %th Sample size
          %td
            10
            %sup= @tool.sample_size_min
            to 10
            %sup= @tool.sample_size_max

    %h3 Description
    - if @tool.description.blank?
      %p No description given.
    - else
      %p= sanitize @tool.description

    - if @tool.images.any?
      = render partial: "tools/images", object: @tool.images

    - if @tool.documents.any?
      %h3 Specifications
      %ul.unstyled
        - @tool.documents.each do |doc|
          %li
            = link_to doc.file_url, target: "_blank" do
              %i.icon-file-alt
              &nbsp;
              = doc.file_name
            %span
              (#{number_to_human_size(doc.file.size)})




%div.row
  %div.span8.offset2
    %h3 Location

    %h4.address
      %strong= @tool.facility.try(:name)
      %small= @tool.partial_address

    - unless @tool.facility.try(:department).blank?
      %strong= @tool.facility.try(:department)
    %p= @tool.facility.try(:description)

    %iframe{width: "100%", height: "350", frameborder: "0", scrolling: "no", marginheight: "0", marginwidth: "0", src: google_maps_address_for(@tool.partial_address)}


