- if @tool.owned_by?(current_user)
  - nav_category "My Tools"
- else
  - nav_category "Find a Tool"

= page_header @tool.display_name,
  icon: "cogs",
  crumbs: @tool.owned_by?(current_user) ? [:root, Tool, @tool] : [:root, :search, @tool],
  subtitle: @tool.tool_category_name

%div.row
  %div.span2.sidebar.profile-sidebar
    %div.row.row-header
      %div.span2.header-avatar
        %h4{style: "text-align: center"} Owner
        = avatar_of @tool.owner

    - if can?(:edit, @tool)
      = link_to glyph_text(:edit, "Edit tool"), edit_tool_path(@tool), class: "btn"
    - if can?(:book, @tool)
      = link_to glyph_text(:envelope, "Questions?"), new_message_path(tool_id: @tool), class: "btn btn-success"

  %div.span8
    - if can?(:book, @tool)
      %div.well.well-small{style: "padding-bottom: 0;"}
        %form.no-margin.form-inline{action: new_booking_path, method: :get, class: "form-inline"}
          %input{type: "hidden", name: "tool_id", value: @tool.id}
          %div.row
            %div.span2
              %strong{style: "line-height: 30px;"} Get a sample by
            %div.span4
              %div.control-group
                %div.input-append
                  %input{type: "date", name: "date", class: "date", value: SearchQuery.default_date.strftime("%d %B, %Y"), data: { min: Date.today }}
                  %span{class: "add-on"}
                    %i.icon-calendar


            %div.span1
              %input{type: "submit", value: "Reserve Now", class: "btn btn-primary"}

    %h3 Overview
    %table.table
      %tbody
        %tr
          %th Category
          %td
            = link_to search_path(q: @tool.tool_category_name) do
              = @tool.tool_category_name
        %tr
          %th Manufacturer
          %td
            = link_to search_path(q: @tool.manufacturer_name) do
              = @tool.manufacturer_name
        %tr
          %th Model
          %td
            = link_to search_path(q: @tool.model_name) do
              = @tool.model_name
        %tr
          %th Year manufactured
          %td= @tool.year_manufactured
        %tr
          %th Resolution
          %td= @tool.resolution
        %tr
          %th Price per run
          %td
            = price_per_sample @tool, :base
            - if @tool.can_expedite?
              %br
              = price_per_sample @tool, :expedited
        %tr
          %th Sample size
          %td
            10
            %sup= @tool.sample_size_min
            to 10
            %sup= @tool.sample_size_max
        %tr
          %th Location
          %td= @tool.partial_address

    %h3 Description
    - if @tool.description.blank?
      %p No description given.
    - else
      %p= sanitize @tool.description

    - if @tool.images.any?
      = render partial: "tools/images", object: @tool.images

%div.row
  %div.span8.offset2
    %h3 Location
    %h4.address
      %strong
        = @tool.partial_address
    %iframe{width: "100%", height: "350", frameborder: "0", scrolling: "no", marginheight: "0", marginwidth: "0", src: google_maps_address_for(@tool.partial_address)}


