- nav_category "Find a Tool"

%div.row.row-header
  %span.span2.header-avatar
    %i.avatar.icon-beaker
  %span.span10.header-body
    %h1= @tool.display_name
    %span.muted
      = @tool.tool_category_name

%div.row
  %span.span2.profile-sidebar
    %div.row.row-header
      %span.span2.header-avatar
        %h4{style: "text-align: center"} Owner
        = link_to user_path(@tool.owner) do
          - if @tool.owner.avatar.present?
            %img.avatar{src: current_user.avatar.url(:thumb)}
          - else
            %i.avatar.icon-user
          %p{style: "text-align: center;"}= @tool.owner.display_name

    %ul.unstyled
      - if @tool.owner == current_user
        %li= link_to glyph_text(:edit, "Edit tool"), edit_tool_path(@tool), class: "btn"
  %span.span8
    %div.well.well-small
      %form.no-margin{action: new_booking_path, method: :get, class: "form-inline"}
        %input{type: "hidden", name: "tool_id", value: @tool.id}
        %input{type: "submit", value: "Reserve Now", class: "btn btn-primary"}
        %span for
        %input{type: "date", name: "date", class: "date", value: SearchQuery.default_date.strftime("%d %B, %Y")}

    %h3 Overview
    %table.table
      %tbody
        %tr
          %th Category
          %td
            = link_to search_path(q: @tool.tool_category_name) do
              = @tool.tool_category_name
        %tr
          %th Manufacturer
          %td
            = link_to search_path(q: @tool.manufacturer_name) do
              = @tool.manufacturer_name
        %tr
          %th Model
          %td
            = link_to search_path(q: @tool.model_name) do
              = @tool.model_name
        %tr
          %th Year manufactured
          %td= @tool.year_manufactured
        %tr
          %th Resolution
          %td= @tool.resolution
        %tr
          %th Price per sample
          %td
            = price_per_sample @tool, :base
            - if @tool.can_expedite?
              %br
              = price_per_sample @tool, :expedited
        %tr
          %th Sample size
          %td
            10
            %sup= @tool.sample_size_min
            to 10
            %sup= @tool.sample_size_max
        %tr
          %th Location
          %td= @tool.partial_address

    %div{id: "gallery", data: { toggle: "modal-gallery", target: "#images" }}
      - @tool.images.each do |image|
        %a{href: image.image.url, data: { gallery: "gallery" } }
          %img{src: image.image.url(:thumb)}

      / %a{href: "#images", role: "button", data: { toggle: "modal" }}
      /   %img.avatar{src: @tool.images.first.image.url(:thumb)}

    %h3 Description
    - if @tool.description.blank?
      %p No description given.
    - else
      %p= sanitize @tool.description

    - if @tool.images.any?
      %a.btn{href: "#images", role: "button", data: { toggle: "modal" }} Images

      %div#images.modal.modal-gallery.hide.fade{tabindex: -1}
        = modal_header do
          %h3#imagesLabel Images
        = modal_body do
          %div.modal-image
        = modal_footer do
          %a.btn.btn-info.modal-prev= glyph_text :arrow_left, "Previous"
          %a.btn.btn-primary.modal-next= glyph_text "Next", :arrow_right
          %a.btn.btn-success.modal-play.modal-slideshow{"data-slideshow" => 5000}= glyph_text :play, "Slideshow"

