= render layout: 'shared/navbar' do
  %fieldset
    %legend Messages
    %div.row
      %span.span3
        %div.well.well-small
          %h4 Pending Leases
          - current_user.actionable_leases.each do |l|
            %p #{l.tool.display_name} from #{l.started_at.to_date.to_s(:long)} to #{l.ended_at.to_date.to_s(:long)} (#{number_to_currency l.total_cost}).
            = simple_form_for l, html: { style: "margin-bottom: 0" } do |f|
              = f.button :submit, value: "Confirm", class: "btn btn-success"
              = f.button :submit, value: "Deny", class: "btn btn-danger"
      %span.span9
        - @message.message_chain.each do |message|
          %div.row
            %span.span7
              %div.well.email{class: message.sender == current_user ? "email-sent" : "email-received"}
                %p= message.body.html_safe
                %p
                  %small.muted.pull-right.clearfix
                  #{message.sender.display_name} at #{message.created_at}
            %span.span2{style: "text-align: center"}
              %img{src: message.sender.image_url}

        %div.row
          %span.span7
            = simple_form_for UserMessage.new, as: :message, url: reply_message_path(@message) do |f|
              .form-inputs
                = f.input :body, label: false, input_html: { rows: 4, cols: nil }
              .form-actions
                = f.button :submit, "Reply", class: "btn btn-primary"
