- nav_category "Messages"

%fieldset
  %legend Messages
  %div.row
    %div.span2
      %div.messageable(data-spy="affix" data-offset-top="176")
        %small.muted This is a message regarding:
        = render @message.messageable
    %div.span10
      - @message.message_chain.each do |message|
        %div.row
          %div.span8
            %div.well.email{class: message.sender == current_user ? "email-sent" : "email-received"}
              %p= sanitize message.body
              %small.muted
                #{message.sender_name} at #{message.created_at}
          %div.span2{style: "text-align: center"}
            - if message.sender.try(:avatar).present?
              %img{src: message.sender.avatar.url(:thumb)}
            - else
              %i.avatar.icon-user

      %div.row
        %div.span8
          = simple_form_for UserMessage.new, as: :message, url: reply_message_path(@message) do |f|
            .form-inputs
              = f.input :body, label: false, input_html: { rows: 4, cols: nil }
            .form-actions
              = f.button :submit, "Reply", class: "btn btn-primary"
