%ul.nav.nav-pills.devise
  %li{class: controller_name == 'sessions' ? "active" : ""}
    = link_to "Log in", new_user_session_path
  %li{class: controller_name == 'registrations' ? "active" : ""}
    = link_to "Sign up", new_user_registration_path
  %li{class: active_page?("Learn More") ? "active" : ""}
    = page_link_to "Learn More"
  %li{class: active_page?("Privacy Policy") ? "active" : ""}
    = page_link_to "Privacy Policy"
  %li{class: active_page?("Terms & Conditions") ? "active" : ""}
    = page_link_to "Terms & Conditions"
