.modal.fade#booking_edit_request_form
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title
          - if booking.owner?(current_user)
            Make an edit request
          - else
            Confirm edit request
      .modal-body
        - if booking.owner?(current_user)
          - path = nil
        - else
          - path = accept_booking_edit_request_path(booking_edit_request)

        = simple_form_for booking_edit_request, url: path do |f|
          = f.input :booking_id, as: :hidden
          = f.input :adjustment, type: "number", value: booking_edit_request.adjustment, label: "Add or subtract #{booking.tool.unit.pluralize}"
          - if booking.owner?(current_user)
            = f.input :memo, as: :text
          - else
            %p= "Memo: #{booking_edit_request.memo}"
          = f.button :submit, value: "Submit", class: "btn btn-success"
