!!!html
%html(lang="en")
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h4 Hi #{@user.first_name},

    - if @buyside
      %p Your payment for #{number_to_currency @booking.price_with_all_fees, unit: @currency} was successful.

    - else
      %p
        #{@other_user.first_name} has successfully paid for #{@notification.tool_name}. Payment will be released to
        you 7 days after completion of the work.

      %h2 Starting Work
      %p
        You still need to tell RareShare and #{@other_user.display_name} when you've started the work on by clicking
        the button on #{link_to 'the booking page', @url}

      %h2 Finishing Work
      %p
        Tell RareShare and #{@other_user.display_name} that you've finished the work by clicking on the button on
        = link_to 'the booking page', @url

    %h2 Booking Summary

    = render partial: 'bookings/summary', locals: {booking: @booking}

    %h2 Questions asked and answered
    %ul
      - @booking.questions.each do |question|
        %li
          %small{style: "color: #FFA733"}= t("questions.topic.#{question.topic}")
          %p= question.body
          %small
            Asked by
            %span= question.user.display_name
          %ul
            - question.question_responses.each do |response|
              %li
                %p= response.body
                %small
                  Response by
                  %span= response.user.display_name

    %h2 Payment Summary
    %table
      %tbody
        %tr
          %th Base Price
          %td= number_to_currency @booking.price, unit: @currency
        %tr
          %th Adjustments
          %td
            - if @booking.booking_edits.confirmed.any?
              %table#finalize_edits
                - @booking.booking_edits.confirmed.each do |edit|
                  %tr
                    %td
                      = number_to_currency(edit.change_amount, unit: currency_for(@booking))
                    %td
                      &ndash;
                    %td
                      = edit.memo
            - else
              none

        %tr
          %th RareShare fee
          %td= number_to_currency @booking.rareshare_fee, unit: @currency
        %tr
          %th Payment fee
          %td= number_to_currency @booking.payment_fee, unit: @currency
        %tr
          %th Final Price
          %td= number_to_currency @booking.price_with_all_fees, unit: @currency

    - if @buyside
      %p
        In some cases there are portions of this amount paid that are non-refundable. These include
        payment processor charges, RareShare administration fees, and any associated setup costs
        that the provider has undertaken to begin work.
    - else
      %p You will receive #{number_to_currency (@booking.final_price - @booking.rareshare_fee), unit: @currency}

    %p Thank you,

    %p The RareShare Team

    %small
      You've received this update because you're subscribed to email
      notifications of booking changes. To change these settings, please
      #{link_to 'edit your profile.', profile_url}
