!!!html
%html{lang: "en"}
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h4 A message from RareShare
    %h1 Your booking has changed

    %p Hi #{@user.first_name},

    %p= @body

    - if @notification.properties["state"] == "finalized"
      - if @notification.properties["key"] == "bookings.notify.finalized_renter"
        - if @booking.pending_answer_notifications.any?
          %h3 Pending answers for your questions
          - @booking.pending_answer_notifications.each do |notification|
            %p= "Q: #{notification.properties["question"]}"
            %p= "A: #{notification.properties["reply"]}"
      - else
        - if @booking.pending_question_notifications.any?
          %h3 Pending questions you need to answer
          - @booking.pending_question_notifications.each do |notification|
            %p= "Q: #{notification.properties["question"]}"

      - if @tool.try(:terms_document_id)
        %h3= link_to "Terms and conditions", root_url + @tool.terms_document.pdf.url, target: "_blank"

    - unless @booking.pending?
      %p Booking number: #{@booking.id}
    %p
      To check on your booking, follow this link:
      %a{href: @url}= @url

    %p Thanks,

    %p The RareShare Team

    %small
      You've received this update because you're subscribed to email
      notifications of booking changes. To change these settings, please
      %a{href: profile_url} edit your profile.
