- btn_size = "" unless defined?(btn_size)
= simple_form_for booking, html: { class: "no-margin form-inline" } do |f|
  - if can? :update_draft, booking
    = link_to "Update draft", edit_booking_path(booking), class: "btn btn-success #{btn_size}"
  - if can? :finalize, booking
    = link_to "Finalize & Pay", finalize_booking_path(booking), class: "btn btn-success #{btn_size}"
  - if can? :confirm, booking
    = link_to "Approve", approve_booking_path(booking), class: "btn btn-success #{btn_size}"
  - if can? :deny, booking
    = f.button :submit, value: "Deny", class: "btn btn-danger #{btn_size}", data: { toggle: "confirm", title: "Deny Booking" }
  - if can? :begin, booking
    = f.button :submit, value: "Begin processing", class: "btn btn-success #{btn_size}", data: { toggle: "confirm", title: "Begin Booking" }
  - if can? :complete, booking
    = f.button :submit, value: "Complete processing", class: "btn btn-success #{btn_size}", data: { toggle: "confirm", title: "Complete Booking" }

  - if can? :cancel, booking
    - if booking.finalized? || booking.processing? || booking.overdue?
      = link_to "Cancel", cancel_booking_path(booking), class: "btn btn-danger #{btn_size}"
    - else
      = f.button :submit, value: "Cancel", class: "btn btn-danger #{btn_size}", data: { toggle: "confirm", title: "Cancel Booking" }


  //show page only
  - unless btn_size == 'btn-mini'
    - if can? :owner_edit, booking
      = link_to "Edit Price", new_booking_edit_path(booking_id: booking.id), remote: true, class: "btn btn-success #{btn_size}"
    - if can? :request_edit, booking
      = link_to "Edit Services", new_booking_edit_request_path(booking_id: booking.id), remote: true, class: "btn btn-success #{btn_size}"
