%p
  = link_to booking.tool.display_name, booking.tool
%p
  %dl
    %dt Price
    %dd= number_to_currency booking.price
    %dt Deadline
    %dd= booking.deadline.to_date.to_s(:long)
    %dt Status
    %dd= booking_state booking
= simple_form_for booking do |f|
  - if booking.tool.owned_by?(current_user)
    - if booking.pending?
      = f.button :submit, value: "Approve", class: "btn btn-success"
      = f.button :submit, value: "Deny", class: "btn btn-danger"
    - elsif booking.confirmed?
      = f.button :submit, value: "Cancel Booking", class: "btn btn-danger"
  - elsif booking.renter == current_user
    - if booking.pending? || booking.confirmed?
      = f.button :submit, value: "Cancel Request", class: "btn btn-danger"
