%p
  = link_to booking.display_name, booking
%p
  %dl
    %dt Price
    %dd= number_to_currency booking.price, unit: currency_for(booking)
    %dt Deadline
    %dd= booking.deadline.to_date.to_s(:long)
    %dt Status
    %dd= booking_state booking
= simple_form_for booking do |f|
  - if can? :confirm, booking
    = f.button :submit, value: "Approve", class: "btn btn-success"
  - if can? :deny, booking
    = f.button :submit, value: "Deny", class: "btn btn-danger"
  - if can? :cancel, booking
    = f.button :submit, value: "Cancel Booking", class: "btn btn-danger"
