- nav_category "Find a Tool"

%div.row.row-header
  %span.span2.header-avatar
    - if @booking.tool.images.any?
      %a{href: "#images", role: "button", data: { toggle: "modal" }}
        %img.avatar{src: @booking.tool.images.first.image.url(:thumb)}
    - else
      %i.avatar.icon-beaker
  %span.span10.header-body
    = breadcrumbs :root, :calendar, @booking, ["Finalize"]
    %h1 Finalize #{t(:booking)}
    %span.muted
      = @booking.display_name

%div.row
  %span.offset2.span8
    %p
      In order to finalize the booking, you must pay the booking price and RareShare commission.
      RareShare charges a 10% fee on every booking.
      = page_link_to "Learn more about our pricing.", page: "Learn More"

    %h3 Payment

    = simple_form_for :transaction, url: finalize_booking_path(@booking), html: { class: "payment", "data-braintree-client-key" => ENV['BRAINTREE_CLIENT_KEY'] } do |f|
      = f.simple_fields_for :credit_card do |c|
        %div.row
          %span.span4
            = c.input :number, wrapper: :append do
              %input.cc-number.string(type="text" size="20" autocomplete="on" data-encrypted-name="transaction[credit_card][number]")
              %span.add-on
                %i.icon-credit-card
          %span.span2
            = c.input :cvv, label: "CVV", wrapper: :append do
              %input.cc-cvv.string(type="text" size="4" autocomplete="off" data-encrypted-name="transaction[credit_card][cvv]")
              %span.add-on
                %i.icon-lock
          %span.span2
            = c.input :expiration, wrapper: :append do
              %input.cc-expiry-month(type="text" autocomplete="on" data-encrypted-name="transaction[credit_card][expiration_month]" style="width: 50px" placeholder="01")
              %span(style="font-size: 25px; line-height: 25px; margin: auto 5px")= "/"
              %input.cc-expiry-year(type="text" autocomplete="on" data-encrypted-name="transaction[credit_card][expiration_year]" style="width: 80px" placeholder="2023")
              %span.add-on
                %i.icon-calendar
        = f.submit "Finalize & Pay", class: "btn btn-info"

  %script(type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js")
