- nav_category "Find a Tool"

- content_for :head do
  = javascript_include_tag "https://js.stripe.com/v2/"

%div.row.row-header
  %span.span2.header-avatar
    - if @booking.tool.images.any?
      %a{href: "#images", role: "button", data: { toggle: "modal" }}
        %img.avatar{src: @booking.tool.images.first.image.url(:thumb)}
    - else
      %i.avatar.icon-cogs
  %span.span10.header-body
    = breadcrumbs :root, :calendar, @booking, ["Finalize"]
    %h1 Finalize #{t(:booking)}
    %span.muted
      = @booking.display_name

= simple_form_for :transaction, url: finalize_booking_path(@booking), html: { class: "payment", "data-bind" => "with: booking", "data-stripe-key" => ENV["STRIPE_PUBLIC_KEY"] } do |f|
  %div.form-inputs
    %fieldset
      %div.row
        %span.offset2.span8
          %legend Review the Booking
          = render partial: "summary", locals: { booking: @booking }

      - if @booking.ship_outgoing?
        %fieldset
          %div.row
            %span.offset2.span8

              %legend Shipping
              %p You've selected outgoing shipping. Please indicate the type of shipping you'd like:
              = f.input :shipping_service, as: :select, input_html: { "data-bind" => "value: shipping_service, options: outgoing_shipment_rates, optionsText: 'display_name', optionsCaption: \"Never mind; I'll provide shipping myself\"" }

    %fieldset
      %div.row
        %span.offset2.span8
          %legend Payment
          = f.hidden_field :stripe_token

          %p
            In order to finalize the booking, you must pay the booking price and RareShare commission.
            RareShare charges a 10% fee on every booking.
            = page_link_to "Learn more about our pricing.", page: "Learn More"

            %table.table
              %tbody
                %tr
                  %th.span3 Base price
                  %td.span5{data: { bind: "text: money(price)" }}= @booking.price
                %tr
                  %th RareShare fee
                  %td{data: { bind: "text: money(rareshare_fee)" }}= @booking.rareshare_fee
                %tr
                  %th Shipping
                  %td{data: { bind: "text: money(shipping_rate)" }}= @booking.shipping_price
                %tr
                  %th Final Price
                  %td{data: { bind: "text: money(final_price)" }}= @booking.final_price

          %div.row
            %span.span4
              = f.input :number, wrapper: :append do
                %input.cc-number.string{type: "text", autocomplete: "on", data: { stripe: "number" }}
                %span.add-on
                  %i.icon-credit-card

            %span.span2
              = f.input :cvv, label: "CVV", wrapper: :append do
                %input.cc-cvv.string{type: "text", autocomplete: "off", data: { stripe: "cvc" }}
                %span.add-on
                  %i.icon-lock

            %span.span2
              = f.input :expiration, wrapper: :append do
                %input.cc-expiry.string{type: "text", autocomplete: "on", placeholder: "mm / yyyy", data: { stripe: "exp" }}
                %span.add-on
                  %i.icon-calendar

  %div.row
    %span.offset2.span8
      = f.submit "Finalize & Pay", class: "btn btn-primary"
      = link_to "Cancel", booking_path(@booking), class: "btn btn-default"

:javascript
  $(function() {
    window.booking = new Booking(#{@booking.to_json});
    ko.applyBindings({ booking: booking });
  });

