- nav_category "Find a Tool"

%div.row.row-header
  %span.span2.header-avatar
    - if @booking.tool.images.any?
      %a{href: "#images", role: "button", data: { toggle: "modal" }}
        %img.avatar{src: @booking.tool.images.first.image.url(:thumb)}
    - else
      %i.avatar.icon-cogs
  %span.span10.header-body
    = breadcrumbs :root, :calendar, @booking, ["Finalize"]
    %h1 Finalize #{t(:booking)}
    %span.muted
      = @booking.display_name

%div.row
  %span.offset2.span8
    %p
      In order to finalize the booking, you must pay the booking price and RareShare commission.
      RareShare charges a 10% fee on every booking.
      = page_link_to "Learn more about our pricing.", page: "Learn More"

    - if @booking.ship_outgoing?
      %p You've selected outgoing shipping. Please indicate the type of shipping you'd like:
      %ul
        - @booking.outgoing_shipment.rates.each do |rate|
          %li #{rate.service} (#{rate.rate})

    %h3 Review the Booking
    = render partial: "summary", locals: { booking: @booking }

    = paypal_button_for @booking
