- nav_category "Calendar"

= page_header @booking.title,
  icon: "cogs",
  crumbs: [:root, :calendar, @booking],
  subtitle: @booking.display_name

%div.row
  %span.span2.header-avatar
    = avatar_of @booking.opposite_party_to(current_user)

  %span.span8
    %div.well.well-small
      %p= @booking.state_summary_for(current_user)
      = render partial: 'bookings/actions', locals: { booking: @booking }

    %h3 Booking Information
    = render partial: "summary", locals: { booking: @booking }


    %h3
      Tool Overview
      %small= link_to glyph_text("Tool Details", :angle_right), tool_path(@booking.tool)
    %table.table
      %tbody
        %tr
          %th.span3 Category
          %td.span5
            = link_to search_path(q: @booking.tool.tool_category_name) do
              = @booking.tool.tool_category_name
        %tr
          %th Manufacturer
          %td
            = link_to search_path(q: @booking.tool.manufacturer_name) do
              = @booking.tool.manufacturer_name
        %tr
          %th Model
          %td
            = link_to search_path(q: @booking.tool.model_name) do
              = @booking.tool.model_name
        %tr
          %th Year manufactured
          %td= @booking.tool.year_manufactured
        %tr
          %th Resolution
          %td= @booking.tool.resolution
        %tr
          %th Sample size
          %td
            10
            %sup= @booking.tool.sample_size_min
            to 10
            %sup= @booking.tool.sample_size_max

    - if @booking.tool.images.any?
      = render partial: "tools/images", object: @booking.tool.images

%div.row
  %span.span8.offset2
    %h3 Address
    %h4.address
      %strong
        = @booking.public_address
    %iframe{width: "100%", height: "350", frameborder: "0", scrolling: "no", marginheight: "0", marginwidth: "0", src: google_maps_address_for(@booking.public_address)}

- unless @booking.user_messages.empty?
  %div.row#messages
    %span.span8.offset2
      %h3 Messages

  - @booking.message_chain.each do |message|
    %div.row
      %span.span2.header-avatar
        - if message.sender.try(:avatar).present?
          %img.avatar{src: message.sender.avatar.url(:thumb), style: "margin-top: 0; margin-bottom: 10px"}
        - else
          %i.avatar.icon-user{style: "margin-top: 0; margin-bottom: 10px"}

      %span.span8
        %div.well.email{class: message.sender == current_user ? "email-sent" : "email-received"}
          %p= sanitize message.body
          %small.muted
            #{message.sender_name} at #{message.created_at}

  %div.row
    %span.span2
    %span.span8
      = simple_form_for UserMessage.new, as: :message, url: reply_message_path(@booking.user_messages.last) do |f|
        .form-inputs
          = f.input :body, label: false, input_html: { rows: 4, cols: nil }
        .form-actions
          = f.button :submit, "Reply", class: "btn btn-primary"
