- nav_category "Bookings"

- content_for :head do
  :javascript
    $(function() {
      window.questions = new Questions({ questions: #{@booking.questions.to_json} });
      ko.applyBindings({ questions: questions }, $("div#questions")[0]);
    });

= page_header @booking.title,
  icon: "cogs",
  crumbs: [:root, Booking, @booking],
  subtitle: @booking.display_name

%div.row
  %div.span2.header-avatar
    = avatar_of @booking.opposite_party_to(current_user)

  %div.span8
    %div.well.well-small
      %p= @booking.state_summary_for(current_user)
      = render partial: 'bookings/actions', locals: { booking: @booking }

    %h3 Booking Information
    = render partial: "summary", locals: { booking: @booking }

    %h3
      Tool Overview
      %small= link_to glyph_text("Tool Details", :angle_right), tool_path(@booking.tool)
    %table.table
      %tbody
        %tr
          %th.span3 Category
          %td.span5
            = link_to search_path(q: @booking.tool.tool_category_name) do
              = @booking.tool.tool_category_name
        %tr
          %th Manufacturer
          %td
            = link_to search_path(q: @booking.tool.manufacturer_name) do
              = @booking.tool.manufacturer_name
        %tr
          %th Model
          %td
            = link_to search_path(q: @booking.tool.model_name) do
              = @booking.tool.model_name
        %tr
          %th Year manufactured
          %td= @booking.tool.year_manufactured
        %tr
          %th Resolution
          %td= @booking.tool.resolution
        %tr
          %th Sample size
          %td
            10
            %sup= @booking.tool.sample_size_min
            to 10
            %sup= @booking.tool.sample_size_max

    - if @booking.tool.images.any?
      = render partial: "tools/images", object: @booking.tool.images

%div.row
  %div.span8.offset2
    %h3 Address
    %h4.address
      %strong
        = @booking.public_address
    %iframe{width: "100%", height: "350", frameborder: "0", scrolling: "no", marginheight: "0", marginwidth: "0", src: google_maps_address_for(@booking.public_address)}

%div#questions.row{data: { bind: "with: questions" }}
  %div.span8.offset2
    %h3 Questions

    %ul.unstyled{data: { bind: "foreach: collection" }}
      %li
        %div{data: { bind: "html: body" }}

    = simple_form_for [ @booking, @booking.questions.build ], html: { style: "padding-top: 20px; border-top: 1px solid #eee", data: { bind: "with: newQuestion, submit: newQuestion.save" }} do |f|
      %p Ask a question about:
      %div.row
        %div.span2
          = f.input :topic, as: :select, label: false, collection: Question::Topics::COLLECTION, include_blank: "Topic", input_html: { data: { bind: "value: topic" } }
        %div.span5
          = f.input :body, label: false, input_html: { placeholder: "Question", class: "plain", style: "height: 80px", data: { bind: "value: body, valueUpdate: 'afterkeydown'" } }
        %div.span1
          = f.button :submit, value: "Ask", data: { bind: "enable: valid" }

