- opts = @user.avatar.present? ? { avatar: @user.avatar.url(:thumb) } : { icon: "user" }

= page_header @user.display_name, opts.merge(crumbs: [:root, @user], confirmed_at: @user.confirmed_at)

%div.row
  %div.span10.offset2
    %h3 Overview
    %table.table
      %tbody
        %tr
          %th Organization
          %td= @user.organization
        %tr
          %th Title
          %td= @user.title
        %tr
          %th Education
          %td= @user.education
    %h3 Bio
    = @user.bio
    %h3 Qualifications
    = @user.qualifications
