%div.row.row-header
  %span.span2.header-avatar
    - if @user.avatar.present?
      %img.avatar{src: @user.avatar.url(:thumb)}
    - else
      %i.avatar.icon-user
  %span.span10.header-body
    %h1= @user.display_name
    %span.muted
      Joined on
      = @user.confirmed_at.to_date.to_s(:long)

%div.row
  %span.span10.offset2
    %h3 Overview
    %table.table
      %tbody
        %tr
          %th Organization
          %td= @user.organization
        %tr
          %th Title
          %td= @user.title
        %tr
          %th Education
          %td= @user.education
    %h3 Bio
    = @user.bio
    %h3 Qualifications
    = @user.qualifications
