%div.navbar.alt-navbar
  %div.navbar-inner
    %ul.nav
      = nav_link "Profile", profile_path, icon: "user", controller: "profile"
      = nav_link "Find a Tool", search_path, icon: "search", controller: "searches"
      = nav_link "My Tools", share_a_tool_path, icon: "cogs", controller: "tools"
      = nav_link "Bookings", bookings_path, icon: "time"
      %li{class: current_page?(messages_path) ? "active" : ""}
        = link_to messages_path do
          %i.icon-inbox
          Inbox
    %ul.nav.pull-right
      %li.notifications{data: {bind: "with: updater"}}
        %a.dropdown-toggle{href: "#", title: "Notifications", data: { toggle: "dropdown", bind: "css: { unseen: unseen() > 0 }" }}
          %i.icon-globe.icon-large
          %span.badge.badge-important.badge-mini{data: {bind: "visible: unseen() > 0, text: unseen"}}
        %ul.dropdown-menu
          %li.header
            %span Notifications
          %li{data: {bind: "visible: isEmpty"}}
            %a{href: "#", style: "cursor: default"} You have no new notifications.
          / ko foreach: notifications
          %li
            %a{data: {bind: "attr: { href: path }, css: { active: !seen }, html: html"}}
          / /ko
%div.container.inner-content
  %div.row
    %div.span12
      = bootstrap_flash
  = yield
