= bootstrap_flash
%div.navbar.alt-navbar
  %div.navbar-inner
    %ul.nav
      = nav_link "Profile", profile_path, icon: "user", controller: "profile"
      = nav_link "Find a Tool", search_path, icon: "search", controller: "searches"
      = nav_link "Share a Tool", share_a_tool_path, icon: "beaker", controller: "tools"
      = nav_link "Calendar", calendar_path, icon: "time"
      %li{class: current_page?(messages_path) ? "active" : ""}
        = link_to messages_path do
          %i.icon-inbox
          Messages
          - count = current_user.unread_message_count
          %span.badge{class: count > 0 ? "badge-info" : "badge-default"}= count
%div.container
  = yield
