%div.content.container
  %div.search
    %div.row
      %div.span10.offset1
        %h1.tag No science friction.
        %p Find the most advanced scientific and medical equipment in the world.
    %div.row
      %div.span10.offset1
        = render partial: "searches/form"

  %div.banner-background#carousel.carousel.slide
    %ol.carousel-indicators
      - @carousels.count.times do |i|
        %li(class="#{'active' if i == 0}" data-slide-to="#{i}" data-target="#carousel")


    .carousel-inner
      - @carousels.each_with_index do |carousel, index|
        .item(class="#{'active' if index == 0}")
          .background(style="background-image: url(#{asset_path(carousel.image)})")
          .contents
            %h5= carousel.link

          - if carousel.link_text == 'About this image'
            .modal.hide.fade{id: "carousel-modal-#{carousel.id}"}
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                %h3 About this image
              .modal-body
                %p= simple_format(carousel.custom_content)
              .modal-footer
                %a.btn{href: "", "data-dismiss" => "modal"} Close

    %a(class="carousel-control left" href="#carousel" data-slide="prev") &lsaquo;
    %a(class="carousel-control right" href="#carousel" data-slide="next") &rsaquo;

  -#%div.photo-credit
  -#  %small
  -#    %span Photo credit:
  -#    %a(href="http://www.flickr.com/photos/dexxus/5791228117/")
  -#      Bridging Knowledge to Health
  -#    %span
  -#      © 2011 Paul Bica, used under a
  -#    %a(href="http://creativecommons.org/licenses/by-sa/3.0/")
  -#      Creative Commons Attribution-ShareAlike license

%div.about_us
  %div.container
    %div.row
      %div.span3
        %div.panel
          %h3 Accelerate
          %i.icon-dashboard
          %p Find the tools you need lickety-split.
      %div.span3
        %div.panel
          %h3 Unearth
          %i.icon-globe
          %p A rich ecosystem of expertise and equipment.
      %div.span3
        %div.panel
          %h3 Collaborate
          %i.icon-exchange
          %p Get help from other biotechs in your area.
      %div.span3
        %div.panel
          %h3 Amplify
          %i.icon-bolt
          %p Extend the impact of your resources.

%div.more-information
  %div.container
    %div.row
      %div.span6
        -#%h1
          Startups and scientists
        %p
          Advanced expertise and equipment comes at a premium.

        %p
          We connect those people who need it (whether at a startup, university or a large company) to those who have it.


      %div.span6
        -#%h1
          Institutions and vendors

        %p
          We help you outsource or build collaborations as well as with the contracts and payments, saving you time and reducing your costs.

        %p
          For experts or people with advanced equipment with extra capacity, we'll help you generate revenue.

    %div.row
      %span.offset1.span10.get-started
        = link_to "Get Started", new_user_session_path, class: "btn btn-success btn-large"
