:javascript
  jQuery(function(){
    window.carousel = {
      availableResources : ko.observableArray(),
    };

    ko.applyBindings(window.carousel);
  });

= simple_form_for [:admin, @carousel] do |f|
  %fieldset.inputs
    %ol
      %li.input
        = f.input :resource_type, as: :radio_buttons, collection: ['Tool'], checked: 'Tool'
      %li.input
        = f.input :resource_id, as: :select, input_html: { "data-bind" => "options: window.carousel.availableResources, optionsText: 'label', optionsValue: 'id'" }
      %li.input
        = f.input :image, as: :file
      %li.input
        = f.input :active

  = f.submit
