%div.row
  %div.span5= form.input :address_line_1
  %div.span3= form.input :country, collection: [["United States", "us"], ["United Kingdom", "gb"]]
%div.row
  %div.span5= form.input :address_line_2, required: false
%div.row
  %div.span4= form.input :city
  %div.span2= form.input :state, required: false
  %div.span2= form.input :postal_code
