%div.result{id: "tool_#{result.id}"}
  %div.row
    %span.span2.header-avatar
      = link_to tool_path(result.id) do
        - if result.images.any?
          %a{href: "#images", role: "button", data: { toggle: "modal" }}
            %img.avatar{src: result.images.first.thumbnail}
        - else
          %i.avatar.icon-cogs

    %span.span8
      %div.title
        %h3= link_to result.display_name, tool_path(result.id)
        %div.muted= result.tool_category_name
      %table.table
        %tr
          %td Resolution
          %td= result.resolution
          %td Sample size
          %td= sample_size_text(result)
    %span.span2
      %div.reserve-now
        %div.price
          = number_to_currency result.price_for(@query.by, 1), unit: currency_for(result)
        %div.samples= pluralize result.samples_per_run, "sample"
        %div.muted per run
        - if user_signed_in?
          %div{style: "padding-top: 10px;"}
            - if result.owned_by?(current_user)
              = link_to "Edit", edit_tool_path(result), class: "btn"
            - else
              - if result.must_expedite?(@query.by)
                = link_to "Expedite", new_booking_path(tool_id: result.id, date: @query.by), class: "btn btn-success"
              - else
                = link_to "Reserve", new_booking_path(tool_id: result.id, date: @query.by), class: "btn btn-primary"
        - else
          %div
            = link_to "Log In", new_booking_path(tool_id: result.id, date: @query.by), class: "btn"
          %div.small.muted to reserve
