= page_header "Search",
  icon: "search",
  crumbs: [:root, :search],
  subtitle: "Showing page #{@results.current_page} of #{@results.total_pages}."

%div.row
  %div.span10.offset2
    = render partial: "searches/form"

- if @results.any?
  - if @results.total_pages > 1
    = paginate @results
  = render collection: @results, partial: 'result'
- elsif @query.valid?
  %p No results found.
