= page_header "Search",
  icon: "search",
  crumbs: [:root, :search],
  subtitle: "Showing page #{@results.current_page} of #{@results.total_pages}."

%div.row
  %div.span10.offset2
    = render partial: "searches/form"

- if @results.any?
  .row
    .pull-right= paginate @results
  = render collection: @results, partial: 'result'
  .row
    .pull-right= paginate @results
- elsif @query.valid?
  %div.row
    %div.span8.offset2
      %p No results found.
      - if signed_in?
        = simple_form_for RequestedSearch.new, url: search_request_path, remote: true do |f|
          = f.input :request, label: "Can you tell us a little about what you were looking for?"
          = f.button :submit, value: "Suggest", class: "btn btn-primary"
