%div.row.row-header
  %span.span2.header-avatar
    %i.avatar.icon-search
  %span.span10.header-body
    = breadcrumbs :root, :search
    %h1 Search
    %span.muted
      = "Showing page #{@results.current_page} of #{@results.total_pages}."


%div.row
  %span.span10.offset2
    = render partial: "searches/form"

- if @results.any?
  - if @results.total_pages > 1
    = paginate @results
  = render collection: @results, partial: 'result'
- elsif @query.valid?
  %p No results found.
