= render lease.tool
%p
  = lease_state lease
  from #{lease.started_at.to_date.to_s(:long)} to #{lease.ended_at.to_date.to_s(:long)} (#{number_to_currency lease.total_cost}).
= simple_form_for lease, html: { style: "margin-bottom: 0" } do |f|
  - if lease.lessor == current_user
    - if lease.pending?
      = f.button :submit, value: "Confirm", class: "btn btn-success"
      = f.button :submit, value: "Deny", class: "btn btn-danger"
    - elsif lease.confirmed?
      = f.button :submit, value: "Cancel", class: "btn btn-danger"
  - elsif lease.lessee == current_user
    - if lease.pending? || lease.confirmed?
      = f.button :submit, value: "Cancel", class: "btn btn-danger"
