- nav_category "Share a Tool"

= link_to tool_path(@lease.tool) do
  %i.icon.icon-angle-left
  Cancel

= simple_form_for @lease do |f|
  %div.form-inputs
    = f.input :tool_id, as: :hidden
    = f.input :started_at, as: :hidden
    = f.input :ended_at, as: :hidden
    = f.input :lessor_id, as: :hidden
    = f.input :lessee_id, as: :hidden
    %fieldset
      %legend Confirm Request
      %div.row
        %span.span3
          %p Please describe your intended usage of the tool.
        %span.span9
          %p Reserve #{@lease.tool.display_name} from #{@lease.started_at.to_date.to_s(:long)} to #{@lease.ended_at.to_date.to_s(:long)} (a term of #{pluralize @lease.duration_in_days, 'day'}). The total cost for this lease will be #{number_to_currency @lease.total_cost}.
          = f.input :description
          %div.control-group
            %textarea(class="text" readonly)
              I hereby promise to abide by the terms of this agreement (to show up on time, pay the full amount, and not break anything) or to be cast into the darkness for all eternity. Amen.
          = f.input :tos_accepted, label: false, inline_label: "I have read and agree to the Terms of Service for this lease."

    %div.row
      %span.offset3.span9
        = f.submit "Reserve", class: "btn btn-primary"
        = link_to "Cancel", :back, class: "btn"
