%div.row.row-header
  %span.span2.header-avatar
    %i.avatar.icon-user
  %span.span10.header-body
    = breadcrumbs :root, current_user
    %h1 Edit Profile
    %span.muted Last edited at #{current_user.updated_at.to_s(:long)}

= simple_form_for current_user, url: profile_path, :html => {:multipart => true} do |f|
  %div.form-inputs
    %fieldset
      %div.row
        %span.span2
          %p.help-block Help us get to know you.
        %span.span8
          %legend Your basic information
          %div.row
            %span.span4= f.input :first_name
            %span.span4= f.input :last_name
          %div.row
            %span.span6= f.input :email
          %div.row
            %span.span3= f.input :primary_phone, type: :phone
            %span.span3= f.input :secondary_phone, type: :phone
          = f.input :avatar, type: :file
          - if current_user.avatar.present?
            = image_tag current_user.avatar.url(:thumb)
          = f.input :bio


    %fieldset
      %div.row
        %span.span2
          %p.help-block Please let us know a little about what you study, and with whom. We use this to help match you with the right tools and services.
        %span.span8
          %legend Credentials and association
          %div.row
            %span.span3= f.input :title
            %span.span5= f.input :organization
          = f.input :education
          = f.input :qualifications

      %fieldset
        %div.row
          %span.span2
            %p.help-block We use this to help you locate new tools and services.
          %span.span8
            %legend
              %a.tip{href: "#", title: t('data.private'), data: { toggle: "tooltip" }}
                %i.icon-lock.icon-large
              Address
            = f.simple_fields_for :address, current_user.address || current_user.build_address do |a|
              = a.hidden_field :id
              = render partial: 'addresses/form', object: a

  %div.row
    %span.span10.offset2
      = f.button :submit, value: "Save", class: "btn btn-primary"
      = link_to "Cancel", profile_path, class: "btn btn-default"

