= render layout: 'shared/navbar' do
  %div.row.profile
    %div.span.span12.profile-header
      %div.row
        %span.span2
          %img{src: current_user.image_url, style: "width: 100%;"}
          %ul.nav.nav-list
            %li
              = link_to "Edit my profile", edit_profile_path
            %li
              = link_to "Add a Tool", new_tool_path
            %li
              = link_to "My Messages", messages_path
            %li Upload a photo
        %span.span10
          %h1= current_user.display_name
          %span.muted
            Joined on
            = current_user.confirmed_at.to_date.to_s(:long)

          %hr

          %h3 Unread Messages
          %p You have no unread messages.

          %h3 Current Leases
          - if current_user.leases.active.any?
            %table.table
              %thead
                %tr
                  %th State
                  %th Dates
                  %th Item description
                  %th Cost
                  %th Options
              %tbody
                - current_user.leases.active.each do |l|
                  %tr
                    %td
                      %span.label{class: "label-#{label_class_for(l)}"}= l.state
                    %td= l.duration_text
                    %td= l.tool.display_name
                    %td= number_to_currency l.total_cost
                    %td= simple_form_for(l, method: :delete) { |f| f.submit "Cancel", class: "btn btn-danger" } unless l.cancelled?

          - else
            %p You have no active leases.
