%div.row.row-header
  %span.span2.header-avatar
    - if current_user.avatar.present?
      %img.avatar{src: current_user.avatar.url(:thumb)}
    - else
      %i.avatar.icon-user
  %span.span10.header-body
    = breadcrumbs :root
    %h1= current_user.display_name
    %span.muted
      Joined on
      = current_user.confirmed_at.to_date.to_s(:long)

%div.row
  %span.span2.profile-sidebar
    %ul.nav.nav-list
      %li
        = link_to glyph_text(:edit, "Edit my profile"), edit_profile_path
      %li
        = link_to glyph_text(:beaker, "Add a tool"), new_tool_path
      %li
        = link_to glyph_text(:envelope, "My mesages"), messages_path
  %span.span10.profile-main
    %h3.pull-up Unread Messages
    - if current_user.unread_message_count == 0
      %p You have no unread messages.
    - else
      = render partial: 'messages/messages', object: current_user.received_messages.unread.order("created_at DESC")

    %h3 Recent booking history
    - if current_user.all_recent_bookings.any?
      = render partial: 'bookings/list', object: current_user.all_recent_bookings
    - else
      %p
        You have no booking history.
        = link_to "Find a tool", search_path
        or
        = link_to "list a tool", new_tool_path
        now.
