= render layout: 'shared/navbar' do
  %div.row.row-header
    %span.span12
      %img.small{src: current_user.image_url, style: "float: left; margin-right: 20px;"}
      %h1= current_user.display_name
      %span.muted
        Joined on
        = current_user.confirmed_at.to_date.to_s(:long)

  %div.row
    %span.span2.profile-sidebar
      %ul.nav.nav-list
        %li.nav-header
          Quick Links
        %li
          = link_to edit_profile_path do
            %i.icon-edit
            Edit my profile
        %li
          = link_to new_tool_path do
            %i.icon-beaker
            Add a Tool
        %li
          = link_to messages_path do
            %i.icon-envelope
            My Messages
        %li
          = link_to "#" do
            %i.icon-picture
            Upload a photo
    %span.span10.profile-main
      %h3.pull-up Unread Messages
      - if current_user.unread_message_count == 0
        %p You have no unread messages.
      - else
        = render partial: 'messages/messages', object: current_user.received_messages.unread

      %h3 Current Leases
      - if current_user.leases.active.any?
        %table.table
          %thead
            %tr
              %th State
              %th Dates
              %th Item description
              %th Cost
              %th Options
          %tbody
            - current_user.leases.active.each do |l|
              %tr
                %td
                  = lease_state l
                %td= l.duration_text
                %td= l.tool.display_name
                %td= number_to_currency l.total_cost
                %td= simple_form_for(l, method: :delete) { |f| f.submit "Cancel", class: "btn btn-danger" } unless l.cancelled?

      - else
        %p You have no active leases.
