- opts = current_user.avatar.present? ? { avatar: current_user.avatar.url(:thumb) } : { icon: "user" }

= page_header current_user.display_name, opts.merge(crumbs: [:root], confirmed_at: current_user.confirmed_at)

%div.row
  %div.span2.sidebar
    = link_to glyph_text(:edit, "Edit profile"), edit_profile_path, class: "btn"
    = link_to glyph_text(:plus, "Add tool"), new_tool_path, class: "btn btn-info"
    = link_to glyph_text(:envelope, "Messages"), messages_path, class: "btn btn-success"
    = csrf_meta_tags

    - unless current_user.stripe_access_token
      = link_to "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=#{ENV['STRIPE_CLIENT_ID']}&scope=read_write",
        target: "_blank" do
        = image_tag "stripe-blue.png", class: 'stripe'

  %div.span10.profile-main
    %h3 Recent booking history
    - if current_user.all_recent_bookings.any?
      = render partial: 'bookings/list', object: current_user.all_recent_bookings
    - else
      %p
        You have no booking history.
        = link_to "Find a tool", search_path
        or
        = link_to "list a tool", new_tool_path
        now.
