!!!html
%html{lang: "en"}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Rareshare"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

    - if !Rails.env.development?
      %link(href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css')
      %link(href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css')

  %body{id: controller.controller_name}
    %header.rareshare.navbar.navbar-top
      %div.navbar-inner
        %div.container
          %a.brand{href: root_path} Rareshare
          = form_tag search_url, method: "get", class: "navbar-search", id: "navbar-search", style: "position: relative" do
            %input(type="text" name="q" placeholder="What do you need?" style="border-right: none")
            %span.search_append
              %i(class="icon-search" style="color: black")
          %ul.nav.pull-right
            - if signed_in?
              %li
                = link_to profile_path do
                  %i.icon-user
                  Welcome, #{current_user.first_name}
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Learn More", "#"
              %li{class: current_page?(new_user_registration_path) ? "active" : ""}
                = link_to "Sign Up", new_user_registration_path
              %li{class: current_page?(new_user_session_path) ? "active" : ""}
                = link_to "Log In", new_user_session_path

  %div.content-root
    - if controller.controller_name == "home"
      = yield
    - else
      %div.content.container
        = yield
    %div.push

  %footer.footer
    %div.container
      %div.row
        %div.span10
          %ul.nav
            %li
              %a{href: "#"} Learn More
            %li
              %a{href: "#"} Get Help
        %div.span2
          %div.pull-right.brand
            Rareshare
