!!!html
%html{lang: "en"}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Rareshare"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    %link(href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css')

  %body{id: controller.controller_name}
    %div.rareshare.navbar.navbar-top
      %div.navbar-inner
        %div.container
          %a.brand(href="/") Rareshare    
          %ul.nav.pull-right
            - if signed_in?
              %li 
                %span.muted.navbar-text.welcome-message Welcome, #{current_user.first_name}
              %li{class: current_page?(dashboard_path) ? "active" : ""}
                = link_to "Dashboard", dashboard_path
              %li{class: current_page?(messages_path) ? "active" : ""}
                = link_to messages_path(anchor: "inbox") do
                  Inbox
                  %span.badge.badge-info= current_user.unread_message_count  
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Learn More", "#"
              %li{class: current_page?(new_user_registration_path) ? "active" : ""}
                = link_to "Sign Up", new_user_registration_path
              %li{class: current_page?(new_user_session_path) ? "active" : ""}
                = link_to "Log In", new_user_session_path

  %div.content-root
    %div.container
      - if content_for? :banner
        = yield :banner
      - else
        %div.row
          - if content_for? :sidebar
            %div.span3
              / %div.well.sidebar-nav
              /   %ul.nav.nav-list
              /     %li.nav-header Sidebar
              /     %li= link_to "Link1", "#"
              /     %li= link_to "Link2", "#"
              /     %li= link_to "Link3", "#"
              = yield :sidebar

            %div.span9
              = bootstrap_flash
              = yield
          - else
            %div.span12
              = bootstrap_flash
              = yield

      %div.row
        %footer.span12
          %p &copy; Rareshare 2012

    = javascript_include_tag "application"
