!!!html
%html{lang: "en"}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Rareshare"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    %link(href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css')

  %body{id: controller.controller_name}
    %div.rareshare.navbar.navbar-top
      %div.navbar-inner
        %div.container
          %a.brand(href="/") Rareshare
          = form_tag search_url, method: "get", class: "navbar-search" do
            %div(class="input-append")
              %input(type="text" name="q" placeholder="What do you need?")
              %button(type="submit" class="btn")
                %i(class="icon-search" style="color: black")
          %ul.nav.pull-right
            - if signed_in?
              %li 
                %span.muted.navbar-text.welcome-message Welcome, #{current_user.first_name}
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Learn More", "#"
              %li{class: current_page?(new_user_registration_path) ? "active" : ""}
                = link_to "Sign Up", new_user_registration_path
              %li{class: current_page?(new_user_session_path) ? "active" : ""}
                = link_to "Log In", new_user_session_path

  %div.content-root
    %div.content.container
      - if content_for? :banner
        = yield :banner
      - else
        = yield

    %footer.container
      %div.row
        %div.span12
          %p &copy; Rareshare 2012

    = javascript_include_tag "application"
